#recipe-details-header-container {
    margin-top: 40px;
}

#recipe-details-image-container {
    border-radius: 10px;
}

    #recipe-details-image-container img {
        max-width: 100%;
        border-radius: 10px;
    }

#recipe-details-header-left {
    padding-bottom: 15%;
}

.vote-icon {
    cursor: pointer;
}
