@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="main">
    <h3><i class="fa fa-file-text-o"></i> Whoops, Page not found!</h3>
    <p>Sorry, the page you have requested may have been moved or deleted.</p>
    <p>Return to the <a href="/">home page</a>.</p>
</div>

