@{
    ViewBag.Title = "Home Page";
    var user = (HeroicallyRecipes.Data.Models.User)ViewBag.UserProfile;
}

@if (user != null)
{
   <h1>@user.Recipes.Count</h1>
}


<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-6">
        <div id="slider-container">
            @Html.Action("GetTopRecipes")
        </div>

        <aside id="home-tags-container">
            <div class="jumbotron">
                @Html.Action("All", "Tags", new { area = "Users" })
            </div>
        </aside>
    </div>
    <div class="col-md-6">
        @Html.Action("GetNewestArticles")
    </div>
</div>

