
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="row">

    @(Html.Kendo()
                .Grid<HeroicallyRecipes.Web.Areas.Administration.ViewModels.ArticleAdminEditViewModel>()
                .Name("grid")
                .Columns(column =>
                {
                    column.Bound(r => r.Id).Width(30);
                    column.Bound(r => r.Title);
                    column.Bound(r => r.Content);
                    column.Bound(r => r.Author);
                    column.Bound(r => r.CreatedOn).Format("{0:yyyy-MM-dd}");

                    column.Command(command => { command.Edit(); command.Destroy(); });
                })
                .ToolBar(toolBar =>
                {
                    toolBar.Excel();
                })
                .ColumnMenu()
                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                .Pageable()
                .Sortable(sortable => { sortable.SortMode(GridSortMode.SingleColumn); })
                .HtmlAttributes(new { style = "height:550px;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(r => r.Id);
                        model.Field(r => r.Id).Editable(false);
                    })
                    .PageSize(1)
                    .Read(read => read.Action("AjaxIndex", "ArticlesAdmin"))
                    .Update(update => update.Action("Edit", "ArticlesAdmin"))
                    .Destroy(destroy => destroy.Action("Delete", "ArticlesAdmin"))
                ))
</div>


